@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@100&display=swap');
body {
    background-color: rgb(52, 48, 48);
}
h1{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    color: bisque;
    font-size: 5rem;
}
#mob-footer{
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    color: bisque;
    letter-spacing: 5px;
    font-size: 10px;
    visibility: hidden;
    z-index: 1;
}
#announce {
    text-align: center;
}
button {
    text-align: center;
    border: 2px solid black;
    border-radius: 110px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    letter-spacing: 5px;
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
}
#players {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
div .player{
    flex-basis: 50%;
    padding: 10px;
}
div p{
    color: bisque;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
}
div img {
    width: 200px;
    height: 200px;
}
#footer{
    text-align: center;
    margin-top: 100px;
    color: bisque;
    letter-spacing: 5px;
    font-size: 15px;
}
@media(max-width: 540px){
    #players {
        flex-direction: column;
    }
    #footer {
        visibility: hidden;
    }
    #mob-footer {
        visibility: visible;
    }
}